
@font-face {
    font-family: Montserrat-Regular-400;
    src: url("./assets/Montserrat/static/Montserrat-Regular.ttf");
}

.Montserrat-Regular-400 {
    font-family: Montserrat-Regular-400;
}

@font-face {
    font-family: Montserrat-Medium-500;
    src: url("./assets/Montserrat/static/Montserrat-Medium.ttf");
}

.Montserrat-Medium-500 {
    font-family: Montserrat-Medium-500;
}

@font-face {
    font-family: Montserrat-bold-600;
    src: url("./assets/Montserrat/static/Montserrat-SemiBold.ttf");
}

.Montserrat-bold-600 {
    font-family: Montserrat-bold-600;
}





::placeholder { 
  color: #BCBCC5; 
}

.ss {
    position: absolute;
    width: 100%;
    padding: 96px 128px 120px 96px;
    display: flex;
    justify-content: end;
    background-color: #6B73C2;
    z-index: 1;
}

.my-node-enter {
    transform: translateY(-1500px);
}

.my-node-enter-active {
    transform: translateY(0px);
    transition: transform 1s;
}

.my-node-exit {
    transform: translateY(0px);
}

.my-node-exit-active {
    transform: translateY(-1500px);
    transition: transform 1s;
}


.mquestion-enter {
    height: 0px;
    opacity: 0;
}

.question-enter-active {
    height: 120px;
    opacity: 1;
    transition: height 1000ms;
    transition: opacity 1000ms;
}

.question-exit {
    height: 120px;
    opacity: 1;
}

.question-exit-active {
    height: 0px;
    opacity: 0;
    transition: height 1000ms;
    transition: opacity 1000ms;
}




/*minireset*/
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

input {
  overflow: visible;
}

textarea {
  overflow: auto;
}

[type="checkbox"],[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
