.losos {
    background-color: #477ed0;
}




.my-node-enter {
    transform: translateY(-1500px);
}

.my-node-enter-active {
    transform: translateY(0px);
    transition: transform 1s;
}

.my-node-exit {
    transform: translateY(0px);
}

.my-node-exit-active {
    transform: translateY(-1500px);
    transition: transform 1s;
}


.mquestion-enter {
    height: 0px;
    opacity: 0;
}

.question-enter-active {
    height: 120px;
    opacity: 1;
    transition: height 1000ms;
    transition: opacity 1000ms;
}

.question-exit {
    height: 120px;
    opacity: 1;
}

.question-exit-active {
    height: 0px;
    opacity: 0;
    transition: height 1000ms;
    transition: opacity 1000ms;
}